html, body{
            padding:0;
            margin:0;
            height:100%;
        }

        .directionsContainer{
            width:380px;
            height:1500px;
            overflow-y:auto;
            float:left;
        }

        #myMap{
            width:calc(100% - 380px);
            height: 1500px;
        }
}